*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  list-style-type: none;
}

#formItem {
  background-color: #2f4538;
  display: flex;
  flex-flow: column;
  gap: 25px;
  max-width: 250px;
  padding: 40px 20px;
}

#formItem legend {
  color: #d2d351;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

}

#formItem div {
  display: flex;
  flex-flow: column;
  gap: 5px;
}

#formItem label {
  color: #fff;
  font-weight: 700;
}

#formItem input {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#formItem div.buttons__wrapper {
  flex-flow: row;
  gap: 15px;
}

.buttons {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  transition: background-color 2s, color 2s, transform 0.5s;
  width: 100%;
}

.buttons:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: background-color 2s, transform 0.5s;
}

.buttonsVerificar {
  background-color: #999;
  color: #fff;
}

.buttonsVerificar:hover {
  background-color: green;
}

.buttonsLimpar {
  background-color: #fff;
  color: #000;
}

.buttonsLimpar:hover {
  background-color: #8bc7c7
}

#resultado {
  background-color: #000;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  height: 100px;
  max-width: 250px;
  padding: 20px;
}
